body {
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    display: block;
    width: 100%;
    object-fit: contain;
    margin: 0px;
}

#button {
    width: 100%;
    height: 55px;
    background-color: #D70000;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#button > span {
    font-size: 18px;
    color: white;
    font-family: Inter;
    padding-right: 40px;
    padding-left: 40px;
    border-right: white solid 1px;
    border-left: white solid 1px;
}

#button > #first {
    font-size: 18px;
    color: #00C2FF;
    font-family: Inter;
    font-weight: bold;
    padding-right: 40px;
    padding-left: 40px;
    border-right: white solid 1px;
    border-left: white solid 2px;
}

#button > #last {
    font-size: 18px;
    color: white;
    font-family: Inter;
    padding-right: 40px;
    padding-left: 40px;
    border-right: white solid 2px;
    border-left: white solid 1px;
}

.infoBox {
    margin-top: 50px;
    height: 300px;
    width: 100%;
    border-radius: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#firstBox {
    background: linear-gradient(to right, #FFCCCC 0%, #FFFF99 100%);
}


#firstImage {
    width: 400px;
    object-fit: contain;
}


.boxTitle {
    font-size: 30px;
    font-weight: bolder;
    font-family: Inter;
    margin: 20px 0 40px; /* Shorter notation for margin */
    text-align: center;
}

.boxDescription {
    font-size: 25px;
    font-family: Inter;
}



#logo {
    width: 80%;
    object-fit: contain;
}

#logoContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    border-top: black solid 1px;
}

#footer {
    height: 300px;
    width: 100%;
    background-color: #00C2FF;
    color: white;
    font-weight: bold;
    font-family: Inter;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 150px;
}

#navigation {
    margin-right: 300px;
    margin-left: 30px;
}

li + li {
    margin-top: 10px;
}

.col-3{
    flex:0 0 auto;
    width:28%;
}
.description {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row{
    --bs-gutter-x:1.5rem;
    --bs-gutter-y:0;
    display:flex;
    flex-wrap:wrap;
    margin-top:calc(-1 * var(--bs-gutter-y));
    margin-right:calc(-.5 * var(--bs-gutter-x));
    margin-left:calc(-.5 * var(--bs-gutter-x))
}
.gx-4{
    --bs-gutter-x:1.5rem;
}