body {
    /* display: flex;
    justify-content: center;
    align-items: center;
    margin: 0; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;

    flex-direction: column; 
}
.infoBox {
    margin-top: 50px;
    /* height: 145px; */
    width: 95vw;
    border-radius: 25px;
    /* justify-content: space-evenly; */
    display: flex;
    /* align-items: center; */
    font-family: Inter;
}
#firstBox {
    background: linear-gradient(to right, #00C2FF 0%, #00FFD1 100%);
}
.boxTitle {
    /* font-size: 2.75vw; */
    margin-left: 1vw;
    margin-right: 1vw;
    font-size: 18px;
    font-weight: bold;
    justify-content: space-evenly;
    display: flex;
    align-items: center;
    text-align: center; 
    color: red; /* Thêm dòng này để làm cho chữ màu đỏ */
}
.desciption{
    margin-top:15px;
    margin-bottom: 15px;
    width: 100%;

}
.boxDescription{
    font-size: 15px;
    margin-left: 1vw;
    margin-right: 7vw;
}


#firstBox {
    background: linear-gradient(to right, #00C2FF 0%, #00FFD1 100%);
}
.form-container{
    margin-top: 5vw;
    width: 95vw;
    border-radius: 25px;
    font-family: Inter;
    border-radius: 25px;
}
.formContent{
    /* width: 100vw; */
    border-radius: 25px;
    padding: 20px;
    flex-direction: row;
}
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    margin-right: 10px;
    resize: vertical;
}
ul{
    padding-inline-start:8vw;
}
li{
    margin-top: 2vw;
}
/* @media (min-width: 600px) {
    #fname,#{}
} */
.boxAddress {
    margin-top: 25px;
    margin-bottom: 25px;
    width: 95vw;
    height: 90vw;
    display: flex;
    font-family: Inter;
}

@media screen and (min-width: 600px) {
    .boxAddress{
        margin-top: 50px;
        width: 35vw;
        height: 90%;
    }
    .form-adress{
        display: flex;
    }
    .form-container{
        width: 55vw;
        margin-right: 25px;
    }

}


/* Header Styles */
body {
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.header {
    display: block;
    height: 15vw;
    object-fit: contain;
    margin: 0px;
}

#menu {
    width: 7%; 
    position: absolute; 
    left: 15%; 
    top: 15%;
}

#scrollpane {
    display: block;
    height: 33vw;
    margin-right: 20px;
    object-fit: contain;
    margin-top: 15vw;
}

/* Footer Styles */
#logoContainer {
    margin-top: 20px;
    border-top: 1px solid black;
}

#logo {
    display: block;
    width: 100%;
    object-fit: contain;
}

#footer {
    height: 35vw;
    width: 98.7%;
    background-color: #00C2FF;
    color: white;
    font-family: Inter;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 90px;
    padding-left: 2px;
    padding-top: 15px;
    margin: 0px;
}

#footerTitle {
    display: block;
    font-weight: bold;
    font-size: 2.8vw; 
}

#infoDisplay {
    display: block;
    font-size: 2.5vw;
    padding-left: 15px;
    margin-top: 10px;
}

li + li {
    margin-top: 5px;
}

#chatbox {
    position: fixed;
    bottom: 3%;
    right: 5%;
    width: 15vw;
    object-fit: contain;
}
