USE [master]
GO
/****** Object:  Database [WebTruongSinh]    Script Date: 11/04/2024 13:16:01 ******/
CREATE DATABASE [WebTruongSinh]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WebTruongSinh', FILENAME = N'D:\WebTruongSinh\DatabaseScript\WebTruongSinh_data.mdf' , SIZE = 10240KB , MAXSIZE = 51200KB , FILEGROWTH = 5120KB )
 LOG ON 
( NAME = N'WebTruongSinh_log', FILENAME = N'D:\WebTruongSinh\DatabaseScript\WebTruongSinh_data.ndf' , SIZE = 5120KB , MAXSIZE = 10240KB , FILEGROWTH = 5120KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WebTruongSinh].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WebTruongSinh]
GO
/****** Object:  User [TranLeHuy]    Script Date: 11/04/2024 13:16:02 ******/
CREATE USER [TranLeHuy] FOR LOGIN [TranLeHuy] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[ChungNhanData]    Script Date: 11/04/2024 13:16:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChungNhanData](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ten] [nvarchar](50) NULL,
	[hinhAnh] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CongTrinhTieuBieu]    Script Date: 11/04/2024 13:16:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CongTrinhTieuBieu](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[hinhAnh] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CongTyData]    Script Date: 11/04/2024 13:16:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CongTyData](
	[id] [int] NOT NULL,
	[ten] [nvarchar](100) NULL,
	[diaChi] [nvarchar](200) NULL,
	[chiNhanh] [nvarchar](200) NULL,
	[sdt1] [nvarchar](20) NULL,
	[sdt2] [nvarchar](20) NULL,
	[hotline] [nvarchar](20) NULL,
	[email] [varchar](30) NULL,
	[website] [varchar](30) NULL,
	[giayPhepKinhDoanh] [varchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FormCuaNguoiDung]    Script Date: 11/04/2024 13:16:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FormCuaNguoiDung](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[hoTen] [nvarchar](40) NULL,
	[diaChi] [nvarchar](100) NULL,
	[sdt] [varchar](10) NULL,
	[email] [varchar](30) NULL,
	[chuDe] [nvarchar](30) NULL,
	[noiDung] [nvarchar](200) NULL,
	[NgaySubmit] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HeaderData]    Script Date: 11/04/2024 13:16:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HeaderData](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ten] [varchar](100) NULL,
	[hinhAnh] [varchar](100) NULL,
	[headerType] [varchar](20) NULL,
	[selected] [nvarchar](5) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPhamData]    Script Date: 11/04/2024 13:16:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPhamData](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ten] [nvarchar](30) NULL,
	[baoHanh] [nvarchar](20) NULL,
	[loai] [nvarchar](30) NULL,
	[hinhAnh] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TinTucData]    Script Date: 11/04/2024 13:16:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TinTucData](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[hinhAnh] [nvarchar](100) NULL,
	[tieuDe] [nvarchar](100) NULL,
	[nhanDe] [nvarchar](100) NULL,
	[noiDungHinhAnh] [nvarchar](100) NULL,
	[noiDungText] [nvarchar](1000) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FormCuaNguoiDung] ADD  DEFAULT (getdate()) FOR [NgaySubmit]
GO
USE [master]
GO
